// Put any @imports here
// See Readme for a list of supported ones
@import 'font-awesome';
@import 'foundation';

body {
  background: #e2ebf3;
  position: relative;
}

.container {
  width: 500px;
  margin: 30px auto;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 90px;
}

.add {
	input
	{
	display: inline-block;
	max-width: 50%;
	}
}

.no-bullet {
	span {
		font-size: 14px;
	}
}